<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title id="hdtitle">CINESTAR - Hệ thống Rạp chiếu phim giá rẻ, hiện đại bậc nhất</title>
    <meta name="description"
        content="Hệ thống rạp chiếu phim Cinestar phục vụ khán giả với những thước phim điện ảnh chất lượng, dịch vụ tốt nhất với giá vé chỉ từ 45.000đ. Đặt vé ngay hôm nay để nhận được những ưu đãi bất ngờ từ Cinestar." />
    <meta name="keywords"
        content="Hệ thống rạp chiếu phim Cinestar phục vụ khán giả với những thước phim điện ảnh chất lượng, dịch vụ tốt nhất với giá vé chỉ từ 45.000đ. Đặt vé ngay hôm nay để nhận được những ưu đãi bất ngờ từ Cinestar." />
    <meta name="author" content="CINESTAR">
    <meta property="og:url" content="https://cinestar.com.vn/">
    <meta property="og:title" content="CINESTAR - Hệ thống Rạp chiếu phim giá rẻ, hiện đại bậc nhất">
    <meta property="og:image" content="https://cinestar.com.vn/pictures/moi/9Logo/den.png">
    <meta property="og:description" content="CINESTAR">
    <meta property="og:site_name" content="CINESTAR">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="vi_VN">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <meta name="google-site-verification" content="YuTiM7jHui55k8Zx2X9vwfCyP9rylFkgxyGeseNR8pk" />
    <link rel="SHORTCUT ICON" href="/assets/customer_page/catalog/view/theme/default/images/favicon.ico">
    <link href="/assets/customer_page/catalog/view/theme/default/css/style83a7.css" rel="stylesheet" type="text/css">

    <link href="/assets/customer_page/catalog/view/theme/default/css/validationEngine.jquery.css" rel="stylesheet"
        type="text/css">

    <style>
        .select-list .warning li {
            pointer-events: visible;
        }
    </style>


    <script src="/assets/js/jquery-3.6.0.min.js"></script>

    <script>
        var USERNAME = '';
        var EMAIL = '';
        var PHONE = '';
    </script>

    <script type="text/javascript" src="/assets/customer_page/catalog/view/theme/default/js/jquery.js"></script>
    <script type="text/javascript" src="/assets/customer_page/catalog/view/theme/default/js/history.js"></script>
    <script type="text/javascript" src="/assets/customer_page/catalog/view/theme/default/js/common.js"></script>
    <script type="text/javascript" src="/assets/customer_page/catalog/view/theme/default/js/slide.js"></script>
    <script type="text/javascript" src="/assets/customer_page/catalog/view/theme/default/js/scroll.js"></script>
    <script type="text/javascript" src="/assets/customer_page/catalog/view/theme/default/js/load.js"></script>
    <script type="text/javascript" src="/assets/customer_page/catalog/view/theme/default/js/jquery.validationEngine.js"></script>
    <script type="text/javascript" src="/assets/customer_page/catalog/view/theme/default/js/validate.js"></script>
</head>

<body id="home-page">
    <!-- BEGIN LOAD-PAGE -->
    <div class="all-pics"></div>
    <div class="all-album"></div>
    <div class="allvideo"></div>
    <div class="overlay-album"></div>
    <div class="overlay-video"></div>
    <div class="overlay-dark"></div>
    <!-- END LOAD-PAGE -->

    <!--POPUP-->

    <div class="popup-pics">
        <div class="close-popup"></div>

        <img style="cursor: pointer; max-width: 600px;" data-href="https://cinestar.com.vn/lichchieu"
            src="https://cinestar.com.vn/pictures/popup/popup-18-26.jpg" alt="popup"></a>
    </div>

    <!--POPUP-->

    <div class="nav-click"></div>

    <%- include('../partials/navbar'); %>


    

    <!--BEGIN CONTAINER-->
    <div class="container">
        <%- include('container-bg'); %> 
    

        <%- include('../partials/footer'); %> 

    </div>
    <!--END CONTAINER-->

    <%- include('section-order'); %>

    <%- include('term-pop'); %>

    <%- include('../partials/temp/temp_load_movie_home'); %>
    <%- include('../partials/temp/temp_load_content_price'); %>

    <!-- <script src="/assets/js/price.js"></script> -->


    <script src="socket.io/socket.io.js"></script>

    <script src="/assets/js/app.home-page.js"></script>
        
    <script src="/assets/iziToast/v1.4/iziToast.min.js"></script>
    <script src="/assets/sweetalert/v2/sweetalert.js"> </script>    
`

    <script type="text/javascript" src="/assets/customer_page/catalog/view/theme/default/js/btqe062.js"></script>
    <script src="/assets/js/jquery.validate.js"></script>
    <script type="module" src="/assets/js/main.home.js"></script>
</body>
</html>